body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial;
  background: #111;
  color: white;
}

#game-board {
  width: 400px;
  height: 400px;
  background: #222;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  border: 2px solid white;
}

.snake {
  background: limegreen;
}

.food {
  background: red;
}
