body{
  background-color: rgb(11, 8, 22);
  text-align: center;
}
#box{
  background-color: #212121;
  margin: auto;
  margin-top: 50px;
  position: relative;
  border: 5px solid #ffffff;
}
.score{
  color: #ffffff;
  font-size: 100px;
}

#resetBtn {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}
.border {
  width: 418px;
  height: 419px;
  position: absolute;
  top: 54px;
  left: 559px;
  z-index: -1;
  filter: blur(1.5rem);

  background: conic-gradient(
    from var(--angle),
    #ff0000,
    #ffff00,
    #00ff00,
    #00ffff,
    #0000ff,
    #ff00ff,
    #ff0000
  );

  animation: colorMove 7s linear infinite;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes colorMove {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

